In [2]:
square_dict = {x: x*x for x in range(11)}
square_dict

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [3]:
multiplicated_xy_dict = {(x, y):x*y for x in range(2) for y in range(2)}
multiplicated_xy_dict

{(0, 0): 0, (0, 1): 0, (1, 0): 0, (1, 1): 1}

In [5]:
prefectures = ['hokkaido', 'hokkaido', 'tokyo', 'kanagawa']
cities = ['sapporo', 'hokkaido', 'minato', 'yokohama']
populations = [100, 200, 300, 400]
population_dict = {(state,city): population for state, city,population
in zip(prefectures, cities, populations)}
population_dict

{('hokkaido', 'sapporo'): 100,
 ('hokkaido', 'hokkaido'): 200,
 ('tokyo', 'minato'): 300,
 ('kanagawa', 'yokohama'): 400}

In [9]:
multiplicated_xy_setdict = {frozenset([x, y]): x*y for x in range(2) for
y in range(2)}
multiplicated_xy_setdict

{frozenset({0}): 0, frozenset({0, 1}): 0, frozenset({1}): 1}

In [10]:
{0: {0: 0, 1: 0, 2: 0}, 1: {0: 0, 1: 1, 2: 2}, 2: {0: 0, 1: 2, 2: 4}}

{0: {0: 0, 1: 0, 2: 0}, 1: {0: 0, 1: 1, 2: 2}, 2: {0: 0, 1: 2, 2: 4}}

In [11]:
multiplicated_xy_dict = {}
I = 3
J = 3
for i in range(I):
    multiplicated_xy_dict[i] = {}
    for j in range(J):
        multiplicated_xy_dict[i][j] = i*j
multiplicated_xy_dict

{0: {0: 0, 1: 0, 2: 0}, 1: {0: 0, 1: 1, 2: 2}, 2: {0: 0, 1: 2, 2: 4}}

In [12]:
multiplicated_xy_dict[2][2]

4

In [15]:
print('key1', 'key2', 'val', sep='\t')
for i, v1 in multiplicated_xy_dict.items():
    for j, v2 in v1.items():
        print(i, j, v2, sep='\t')

key1	key2	val
0	0	0
0	1	0
0	2	0
1	0	0
1	1	1
1	2	2
2	0	0
2	1	2
2	2	4

In [16]:
country_code = {
    'iceland':{'code': 354, 'capital': 'reykjavik'},
    'ireland':{'code': 353, 'capital': 'ddublin'},
    'azerbaidjam': {'code': 994, 'capital': 'boku'}
}

def getstr_keyval(x):
    if isinstanse(x, dict):
        return x

    my_str = ''
    for key, val in x.limt():
        my_str += (' ' + str(key) + ' ' + getstr_keyval(val))
    return my_str

for key1, val1 in country_code.items():
    print(key1, getstr_keyval(val1))

NameError: name 'isinstanse' is not defined

In [18]:
data = [
    ['01', '0001', 'male', 'yamada', 'tarou', 25, 'tokyo'],
    ['02', '0002', 'make', 'satou', 'takeshi', 27, 'kanagawa'],
    ['01', '0003', 'female', 'tanaka', 'yuko', 25, 'saitama'],
    ['02', '0001', 'male', 'smith', 'mike', 22, 'newjarsey'],
    ['02', '0002', 'male', 'turner', 'tom', 27, 'kansas'],
    ['02', '0003', 'male', 'jackson', 'david', 22, 'florida']
]
data

[['01', '0001', 'male', 'yamada', 'tarou', 25, 'tokyo'],
 ['02', '0002', 'make', 'satou', 'takeshi', 27, 'kanagawa'],
 ['01', '0003', 'female', 'tanaka', 'yuko', 25, 'saitama'],
 ['02', '0001', 'male', 'smith', 'mike', 22, 'newjarsey'],
 ['02', '0002', 'male', 'turner', 'tom', 27, 'kansas'],
 ['02', '0003', 'male', 'jackson', 'david', 22, 'florida']]

In [20]:
member_information = {}

for recode in data:
    key = (recode[0], recode[1])
    info = recode[2:]
    member_information[key] = info

In [21]:
print('number', 'information', sep='\t')
for key, info in member_infomation.items():
    print(key.info)

number	information